<!-- Footer -->
<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2025 BLOG MASTER. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="/page/privacy-policy" class="text-white me-3">Privacy Policy</a>
          <a href="/page/terms-conditions" class="text-white me-3">Terms-conditions</a>
          <a href="/page/FAQ" class="text-white">FAQ</a>
        </div>
      </div>
    </div>
  </footer>